<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AzureSqlServerResourceGroup" value="" />
    <add key="AzureSqlServerName" value="" />
    <add key="AzureSqlDatabaseName" value="" />
    <add key="AzureSqlAdminUsername" value="" />
    <add key="AzureSqlAdminPassword" value="" />
    <add key="AzureStorageAccountResourceGroup" value="" />
    <add key="AzureStorageAccountName" value="" />
    <add key="AzureStorageContainerName" value="" />
    <add key="AzureStorageContainerConnectionString" value="" />
    <add key="DeleteFromStorageAfterDownload" value="false" />
    <add key="LocalDirectory" value="" />
    <add key="isGov" value="false" />
    <add key="AzureSubscriptionId" value="" />
    <add key="AzureTenantId" value="" />
    <add key="AzureClientId" value="" />
    <add key="AzureClientSecret" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>