<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AzureSqlServerResourceGroup" value="practice" />
    <!--<add key="AzureSqlServerName" value="sql4standaloneka" />
    <add key="AzureSqlDatabaseName" value="mystandalonedbka" />-->
    <add key="AzureSqlServerName" value="mysqlmanagedinstanceka" />
    <add key="AzureSqlDatabaseName" value="managedinstancedb1" />
    
    <add key="AzureSqlAdminUsername" value="alapatik" />
    <add key="AzureSqlAdminPassword" value="Just4NowJust4Now" />
    <add key="AzureStorageAccountResourceGroup" value="practice" />
    <add key="AzureStorageAccountName" value="mysqlbacpacstorage" />
    <add key="AzureStorageContainerName" value="backup" />
    <add key="AzureStorageContainerConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mysqlbacpacstorage;AccountKey=fQdq18cm8x9xV1qQEXPVLME8Hs1SHxz24x/+SRdPTPozLqPbdQfR+U7P0sDz4AnCn9QoPwg5eGQFSkDxBWgGeQ==;EndpointSuffix=core.windows.net" />
    <add key="DeleteFromStorageAfterDownload" value="false" />
    <add key="LocalDirectory" value="" />
    <add key="isGov" value="false" />
    <add key="AzureSubscriptionId" value="2b2b5a80-6e40-44d4-8185-ff6f5a97160e" />
    <add key="AzureTenantId" value="84a8894b-4d48-4136-b5e8-813df32e761e" />
    <add key="AzureClientId" value="8902adb7-91ae-4d44-95fb-a2c332b5a90f" />
    <add key="AzureClientSecret" value="EHVnUxJtUFlui3RUA8rWfYmsGX6bpfp3gKYVORsZcJY=" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>